/* ------ MODAL ------ */

[data-modal-group-status] {
  transition: all 0.1s linear;
}

.modal__card {
  transition: transform 0.4s var(--animation-ease);
  transform: translateY(25%);
}

[data-modal-group-status="active"] {
  opacity: 1;
  visibility: visible;
}

[data-modal-group-status="active"] .modal__card {
  transform: translateY(0) rotate(0deg);
}

[data-modal-name] {
  display: flex;
}

/* ------ FORM VALIDATION ------  */

/* Form Validation Styling */

.modal__btn-close-bar {
  transition: transform 0.3s var(--animation-ease);
}

.modal__btn-close {
  transition: background-color 0.4s var(--animation-ease);
}

.modal__btn-close:hover {
  background-color: var(--swatch--brand);
}

.modal__btn-close:hover .modal__btn-close-bar {
  transform: rotate(90deg);
}

.modal__btn-close:hover .modal__btn-close-bar.is--second {
  transform: rotate(90deg);
}

/* Field: Error */
[data-validate].is--error input,
[data-validate].is--error textarea,
[data-validate].is--error select {
  border-color: #ff4c24;
}

[data-validate].is--error .form-field-icon.is--error,
[data-validate].is--error .radiocheck-field-icon.is--error {
  opacity: 1;
}

/* Field: Success */
[data-validate].is--success .form-field-icon.is--success,
[data-validate].is--success .radiocheck-field-icon.is--success {
  opacity: 1;
}

/* Field: Custom Radio or Checkbox */
[data-form-validate]
  .radiocheck-field
  input:focus-visible
  ~ .radiocheck-custom {
  background-color: #d0cfcd;
  color: #e2e1df;
}

[data-form-validate]
  .radiocheck-field
  input:focus-visible:checked
  ~ .radiocheck-custom,
[data-form-validate] .radiocheck-field input:checked ~ .radiocheck-custom {
  background-color: #131313;
  color: #efeeec;
}

[data-form-validate] .radiocheck-field .radiocheck-label.is--small {
  margin-top: 0.125em;
}

[data-validate].is--error .radiocheck-custom {
  border-color: #ff4c24;
}

[data-validate].is--error input:checked ~ .radiocheck-custom {
  border-color: #131313;
}

/* Field: Select */
[data-form-validate] select:has(option[value=""]:checked) {
  color: rgba(19, 19, 19, 0.3);
}
